<main>
  <button (click)="dataLoader.reload()">Trigger reload</button>
  <button (click)="dataLoader.cancel()">Cancel</button>
  <button (click)="dataLoader.setData('some custom data')">
    Set custom data
  </button>
  <button (click)="dataLoader.setError(getError('some custom error'))">
    Set custom error
  </button>

  <ngx-data-loader
    #dataLoader
    [getDataFn]="getUser"
    [getDataFnArgs]="userId"
    [debounceTime]="debounceTime"
    [retries]="retries"
    [retryDelay]="retryDelay"
    [showStaleData]="showStaleData"
    [skeletonDelay]="skeletonDelay"
    [timeout]="timeout"
    (loadingStateChange)="logChange($event)"
  >
    <ng-template #dataTemplate let-data let-loading="loading">
      <div *ngIf="loading">Reloading...</div>
      <div class="user-list" [class.dim]="loading">
        {{ data | json }}
      </div>
    </ng-template>
    <ng-template #skeletonTemplate> Loading... </ng-template>
    <ng-template #errorTemplate let-error let-retry="reloadFn">
      Oops! Something went wrong. {{ error.message }}
      <button (click)="retry()">Retry</button>
    </ng-template>
  </ngx-data-loader>
</main>

<div class="controls">
  <div class="field">
    <label for="args">getDataFnArgs</label>
    <input type="text" [(ngModel)]="userId" id="args" />
    <small>Arguments to getDataFn.</small>
  </div>
  <div class="field">
    <label for="debounceTime">debounceTime</label>
    <input type="number" [(ngModel)]="debounceTime" id="debounceTime" />
    <small>Number of milliseconds to debounce reload triggers.</small>
  </div>
  <div class="field">
    <label for="timeout">timeout</label>
    <input type="number" [(ngModel)]="timeout" id="timeout" />
    <small>In milliseconds. </small>
  </div>
  <div class="field">
    <label for="skeletonDelay">skeletonDelay</label>
    <input type="number" [(ngModel)]="skeletonDelay" id="skeletonDelay" />
    <small
      >How many milliseconds to wait before showing the skeleton. Default:
      <code>0</code></small
    >
  </div>
  <div class="field">
    <label for="retries">retries</label>
    <input type="number" [(ngModel)]="retries" id="retries" />
    <small
      >How many retries of getDataFn before showing error template. Default:
      <code>0</code></small
    >
  </div>
  <div class="field">
    <label for="retryDelay">retryDelay</label>
    <input type="number" [(ngModel)]="retryDelay" id="retryDelay" />
    <small
      >How many milliseconds to wait before each retry. Default:
      <code>1000</code></small
    >
  </div>
  <div class="field">
    <div class="checkbox">
      <label for="showStaleData">showStaleData</label>
      <input type="checkbox" id="showStaleData" [(ngModel)]="showStaleData" />
    </div>
    <small
      >Whether to keep displaying old data while reloading. Shows the skeleton
      template when set to false. Default: <code>false</code></small
    >
  </div>
</div>
