:host {
  display: flex;
}

main {
  width: 100%;
}

.controls {
  width: 100%;
  padding: 16px;
  background-color: #eee;

  .field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 16px;

    label {
      font-weight: bold;
      font-family: monospace;
      font-size: large;
    }

    .checkbox {
      display: flex;
      flex-direction: row;
      gap: 8px;
    }
  }

  input {
    padding: 4px;
  }
}
